# Spreadsheets requested to describe towns' "ability to pay" 

Colleague requesting:

1. DONE - Expenditures over time - have from 2011 to 2015 but need prior years 
2. DONE - Education spending as a percent of total expenditures
2. SKIP IT
3. DONE - Mill rates from - have from 2011 to 2017 but need prior years
4. DONE - Grants revenue, tax revenue and total revenue
5. SKIP IT
6. Unassigned town fund balance - anything before 2017
7. Long term debt 
8. Net grand list and tax exempt property
10. DONE - Tax collection rate

# 1. Expenditures over time

In [174]:
# Total_Expenditures from "FISCIN*.csv" sheets

import pandas as pd
import os

def get_fiscin_cols(col="Total_Expenditures"):
    
    cols = ["Municipality"] + [col]
    
    files = {
        2015:"MuniFiscalIndicators_11_15_CSV/FISCIN15.csv",
        2014:"MuniFiscalIndicators_11_15_CSV/FISCIN14.csv",
        2013:"MuniFiscalIndicators_11_15_CSV/FISCIN13.csv",
        2012:"MuniFiscalIndicators_11_15_CSV/FISCIN12.csv",
        2011:"MuniFiscalIndicators_11_15_CSV/FISCIN11.csv",
        2010:"MuniFiscalIndicators_11_15_CSV/FISCIN10.csv",
        2009:"FI2010-2014AsOf4-19-16_CSV/FISCIN09.csv",
        2008:"FI2009-13V2000_CSV/FISCIN08.csv",
        2007:"FI2008-12V2000_CSV/FISCIN07.csv", 
        2006:"FI2006-10V2000_CSV/FISCIN06.csv",
        2005:"FI2003-07V2000_CSV/FISCIN05.csv",
        2004:"FI2003-07V2000_CSV/FISCIN04.csv",
        2003:"FI2003-07V2000_CSV/FISCIN03.csv",
        2002:"FI2003-07V2000_CSV/FISCIN02.csv"
    }
    
    def get_col(df,cols=cols):
        ret = df[cols]
        return ret
    
    frames = []
    
    for f in range(2002,2016):
        try:
            df = get_col(pd.read_csv("../data/" + files[f]))
            df["year"] = f
            frames.append(df)
        except:
            pass
#             raise Exception("Error processing " + str(files[f]))        
        
        #df = df.set_index(["Municipality","year"])
        
    
    ret = pd.concat(frames)
    
    ret = pd.pivot_table(ret,values=col,columns="year",index="Municipality").reset_index()
    
    return ret
    
get_fiscin_cols().to_csv("output/total_expenditures.csv",index=False)
get_fiscin_cols()

year,Municipality,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,ANDOVER,6448333.0,7156978.0,7536333.0,8381319.0,9136118.0,9291904.0,10741358.0,9920656.0,9691506.0,9885945.0,10178489.0,10532064.0,11010158.0,10654609.0
1,ANSONIA,42485212.0,43085986.0,45924355.0,48862080.0,50489528.0,52816370.0,63057989.0,57203675.0,57010349.0,60091435.0,60374860.0,65544136.0,63866446.0,63610501.0
2,ASHFORD,9451222.0,10136243.0,10480122.0,11048897.0,12110482.0,12888049.0,15206197.0,13579707.0,13627610.0,13992024.0,13933046.0,14635662.0,14457564.0,14704766.0
3,AVON,45048182.0,48985655.0,51606923.0,53705866.0,57587759.0,60098481.0,76896853.0,66917304.0,67761526.0,69814606.0,77584466.0,77657612.0,81014128.0,83241864.0
4,BARKHAMSTED,7893997.0,8340901.0,8524077.0,8702843.0,9053646.0,9682000.0,11040510.0,10467390.0,10307196.0,10396219.0,10524397.0,10874884.0,11429152.0,11590983.0
5,BEACON FALLS,12561598.0,12442180.0,13277277.0,14478449.0,15144204.0,16157980.0,16677796.0,17866375.0,17924817.0,17955715.0,18881175.0,19243334.0,19597961.0,20837294.0
6,BERLIN,49246251.0,50443804.0,50509814.0,54267876.0,58791912.0,62204634.0,75715807.0,67323986.0,67177138.0,69306749.0,73665280.0,74962416.0,78995047.0,80585094.0
7,BETHANY,13183641.0,13792258.0,14593807.0,15228435.0,16420767.0,17747299.0,19329336.0,20058750.0,20327253.0,20507631.0,20977192.0,21122240.0,21893677.0,22615263.0
8,BETHEL,43578771.0,46132958.0,48639540.0,50062478.0,54323509.0,56162029.0,68162769.0,61580957.0,61239489.0,63286545.0,65588401.0,68400169.0,71144751.0,71522070.0
9,BETHLEHEM,7281184.0,8009713.0,8208449.0,8266713.0,8646722.0,9050967.0,9511953.0,9385525.0,9261747.0,9091988.0,9229588.0,9186972.0,9392750.0,9440115.0
10,BLOOMFIELD,48251731.0,51865126.0,55640770.0,56551482.0,61313204.0,65006619.0,74679206.0,71609515.0,73112393.0,74056909.0,79905303.0,78697140.0,81835486.0,83823740.0
11,BOLTON,12825831.0,13512816.0,14017184.0,14517506.0,15671574.0,15920098.0,20232287.0,17958931.0,17989519.0,18127707.0,18821439.0,19323732.0,19767942.0,20393142.0
12,BOZRAH,5631476.0,5839329.0,5475195.0,5758313.0,6400713.0,7035994.0,7023940.0,7588499.0,7345993.0,7510118.0,7477622.0,7939442.0,8101182.0,8296328.0
13,BRANFORD,65514491.0,68388128.0,71758502.0,74789013.0,78220952.0,81058201.0,97788733.0,84909147.0,88349320.0,90797169.0,95394689.0,98778997.0,100416471.0,100724891.0
14,BRIDGEPORT,410632254.0,403400834.0,432983647.0,447886784.0,460218044.0,461485340.0,483962220.0,486192767.0,467902163.0,500020343.0,529381169.0,539766185.0,549445907.0,552219478.0
15,BRIDGEWATER,4903248.0,5187317.0,5428377.0,5773134.0,5813607.0,6247824.0,6520229.0,6873488.0,6597324.0,6960084.0,7168165.0,7143511.0,7182726.0,7113991.0
16,BRISTOL,111396000.0,113830000.0,113824000.0,119752000.0,129163000.0,137236000.0,174452000.0,151100000.0,146669000.0,149239000.0,156356000.0,152601000.0,158025000.0,191703769.0
17,BROOKFIELD,38185351.0,39042281.0,41267936.0,42722371.0,47965155.0,49477593.0,62744929.0,54026825.0,53001704.0,55839865.0,59127889.0,61276316.0,63289023.0,64263883.0
18,BROOKLYN,15385848.0,16111692.0,16730023.0,17338939.0,18479964.0,19307863.0,20187180.0,20776863.0,21151675.0,20941976.0,21370443.0,22005377.0,22696276.0,23138978.0
19,BURLINGTON,18888215.0,20258067.0,21266400.0,22685950.0,25568820.0,25892422.0,27007466.0,29405137.0,29183629.0,30426135.0,30755494.0,30138002.0,31589407.0,33395370.0
20,CANAAN,3353301.0,3708087.0,3898238.0,3844072.0,4150641.0,4317152.0,4604123.0,4123159.0,4127686.0,4220693.0,4612243.0,4609892.0,4507443.0,4803716.0
21,CANTERBURY,10761080.0,11340201.0,11568917.0,11979503.0,12704647.0,13141467.0,15600986.0,13880643.0,13742249.0,13757511.0,14022624.0,14731873.0,15042817.0,15229053.0
22,CANTON,22056051.0,23065607.0,24641017.0,26176446.0,28742911.0,30586090.0,39021107.0,33899533.0,33633334.0,34719667.0,35791201.0,35749286.0,36550907.0,37484596.0
23,CHAPLIN,5738704.0,5891939.0,5961035.0,6261316.0,6446394.0,6958950.0,7256578.0,7616724.0,7679833.0,7533079.0,7153357.0,7555898.0,8019549.0,8075534.0
24,CHESHIRE,74308256.0,76768113.0,78953381.0,80361312.0,85899413.0,89655280.0,92083761.0,96814093.0,96899377.0,100566833.0,103981303.0,104445838.0,107397596.0,110553307.0
25,CHESTER,8283780.0,8677565.0,9492995.0,10543296.0,10669734.0,11059627.0,11599729.0,11700744.0,12121077.0,12322991.0,12274609.0,12406318.0,12163571.0,12409189.0
26,CLINTON,31810720.0,33266158.0,34113645.0,35670346.0,38486345.0,40274853.0,50693984.0,44394439.0,44826157.0,46019910.0,48147882.0,48662198.0,49447666.0,50186309.0
27,COLCHESTER,35210022.0,38837714.0,40446903.0,41018422.0,44417907.0,47439990.0,48907109.0,50028793.0,48643210.0,50149192.0,53324825.0,53462248.0,56825708.0,56554639.0
28,COLEBROOK,3947045.0,4110985.0,4280413.0,4493287.0,4650904.0,4914337.0,5691561.0,5488981.0,5349388.0,5598043.0,5616622.0,5502576.0,5536545.0,5800842.0
29,COLUMBIA,11119107.0,11630645.0,12260206.0,12966638.0,14002472.0,15012892.0,18534201.0,16316545.0,15457273.0,15158568.0,15746747.0,15652886.0,16390351.0,16306516.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,THOMASTON,18227870.0,19035736.0,19673108.0,20387105.0,21746881.0,22939571.0,26508232.0,24149697.0,20728239.0,20760159.0,22120554.0,22471671.0,23090917.0,23088382.0
141,THOMPSON,15684796.0,16181434.0,16956574.0,17863486.0,19236252.0,20261080.0,25570770.0,21990024.0,22008181.0,22827048.0,23380222.0,23918213.0,24374888.0,24853860.0
142,TOLLAND,32518515.0,36750973.0,38503523.0,41952536.0,44555459.0,46262352.0,58659124.0,52396081.0,50435718.0,50992621.0,55470521.0,56171517.0,56693949.0,57475275.0
143,TORRINGTON,82232963.0,87598547.0,89844502.0,93543216.0,96984608.0,103154510.0,125772379.0,114473790.0,114943705.0,116200664.0,116282476.0,119412908.0,124999666.0,126043610.0
144,TRUMBULL,91973502.0,95629253.0,104297931.0,109057707.0,120594190.0,122669458.0,131771459.0,137607989.0,138959997.0,142427282.0,151312238.0,159978627.0,167026656.0,170497669.0
145,UNION,1600324.0,1699448.0,1788722.0,2214259.0,2029022.0,2520371.0,2349106.0,2458432.0,2508585.0,2583240.0,2780331.0,3043620.0,3116827.0,3316858.0
146,VERNON,60587641.0,62015031.0,63371598.0,65533467.0,70296978.0,71698078.0,88455455.0,77334900.0,77434462.0,82667959.0,86360679.0,85040040.0,87511824.0,89124230.0
147,VOLUNTOWN,6266663.0,6293075.0,6262836.0,6714866.0,6979103.0,7246157.0,8623231.0,7900416.0,7633663.0,7434363.0,7870308.0,8319082.0,8784313.0,8581215.0
148,WALLINGFORD,100006380.0,104397000.0,105407000.0,112838000.0,124215000.0,128074000.0,160666000.0,141043000.0,140254000.0,140892000.0,146359000.0,149505000.0,154671000.0,155959000.0
149,WARREN,2869961.0,3115417.0,3555859.0,3759959.0,3734289.0,4035278.0,4159785.0,4335227.0,3984381.0,4536455.0,5390608.0,4737348.0,4787017.0,4959727.0
150,WASHINGTON,9397512.0,9862200.0,10284616.0,10823329.0,11396499.0,11906575.0,12529848.0,13066213.0,13210133.0,13338619.0,13505361.0,14270362.0,14237584.0,14869268.0
151,WATERBURY,279020000.0,287522000.0,300816000.0,308047000.0,322515000.0,336988000.0,414341000.0,367926000.0,664097000.0,343602000.0,352294000.0,354378000.0,361140000.0,363755000.0
152,WATERFORD,53069486.0,55326914.0,55807598.0,57103529.0,61524607.0,63050942.0,76935675.0,69339936.0,70883989.0,74299020.0,77674825.0,80891201.0,84450026.0,87502812.0
153,WATERTOWN,46137308.0,46580501.0,47756511.0,50136785.0,51384624.0,55252527.0,68595925.0,61554403.0,61369544.0,61826647.0,66627690.0,69222035.0,70189188.0,72303744.0
154,WEST HARTFORD,149255000.0,159014000.0,165513000.0,176018000.0,191359000.0,199798000.0,245789000.0,221117000.0,219403000.0,214638000.0,240694000.0,239506000.0,247243000.0,252551000.0
155,WEST HAVEN,120007000.0,186334399.0,124708096.0,129104501.0,139255940.0,141123635.0,146474129.0,147230192.0,152104396.0,150604926.0,152755066.0,152919556.0,160520585.0,163679777.0
156,WESTBROOK,15709551.0,16591511.0,17268640.0,18601359.0,19730191.0,20688364.0,26475987.0,23971235.0,24872009.0,25649358.0,26485547.0,27298701.0,27625197.0,27732179.0
157,WESTON,40300640.0,42492794.0,45525016.0,47990099.0,55580456.0,59057498.0,62281925.0,65983870.0,65285459.0,67765801.0,68499640.0,68553204.0,69483459.0,71968039.0
158,WESTPORT,113681678.0,119574313.0,127653515.0,135982638.0,147213079.0,152833786.0,163860594.0,174587967.0,175554068.0,188478245.0,198483074.0,199630915.0,209039420.0,214113576.0
159,WETHERSFIELD,51998266.0,55679570.0,58011562.0,62163602.0,69235640.0,74275273.0,91598599.0,82591500.0,85563650.0,85862161.0,88005487.0,91182335.0,94348809.0,96644426.0
160,WILLINGTON,11497214.0,11878187.0,12136279.0,12734416.0,13457782.0,13910321.0,16996374.0,14791387.0,14922583.0,15653325.0,15893333.0,15982198.0,16186367.0,16658099.0
161,WILTON,69017149.0,75754798.0,78694265.0,84191655.0,90285485.0,96941218.0,103936844.0,110184387.0,111247368.0,111339137.0,117996631.0,121593368.0,124496295.0,126675792.0
162,WINCHESTER,26332042.0,27681797.0,26610627.0,26962992.0,29724844.0,30297129.0,36211945.0,32425667.0,30903727.0,31777680.0,32408167.0,30635606.0,31948789.0,31775755.0
163,WINDHAM,51031221.0,52328348.0,53856363.0,55098539.0,62118335.0,60678342.0,76713918.0,66554797.0,60998969.0,61669841.0,68361154.0,71290641.0,73014071.0,72795149.0
164,WINDSOR,63116143.0,67495535.0,69635314.0,75420882.0,79685936.0,82718000.0,87829822.0,90874473.0,90314622.0,95022989.0,97913820.0,99812158.0,103214240.0,104783497.0
165,WINDSOR LOCKS,28613110.0,30218520.0,31220966.0,33209034.0,35682769.0,38546912.0,47992621.0,42777954.0,43238133.0,43287451.0,46367605.0,45682291.0,47993322.0,48109974.0
166,WOLCOTT,38637947.0,40563587.0,42422316.0,42636385.0,45892709.0,47993366.0,60018910.0,52520970.0,49988434.0,49783277.0,52733796.0,53464093.0,55048933.0,56250554.0
167,WOODBRIDGE,29398690.0,32070931.0,32349376.0,33222894.0,35460772.0,36694613.0,39287214.0,39790388.0,40924905.0,41818336.0,42921725.0,45151880.0,45242923.0,45982860.0
168,WOODBURY,19037034.0,20446117.0,21679617.0,22822993.0,24068468.0,25374222.0,27451025.0,28945127.0,27793516.0,27933075.0,28960378.0,29995412.0,31246280.0,30915371.0
169,WOODSTOCK,15630018.0,16089771.0,16623510.0,17326217.0,18859422.0,19370129.0,20812017.0,21118321.0,21870342.0,21447552.0,22355802.0,22445333.0,22743102.0,22968391.0

# 2. Education expenditures

Education / Total_Expenditures

In [175]:

edu = get_fiscin_cols(col="Education")

In [176]:
total_exp = get_fiscin_cols(col="Total_Expenditures")

In [177]:
total_exp.head()

year,Municipality,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,ANDOVER,6448333.0,7156978.0,7536333.0,8381319.0,9136118.0,9291904.0,10741358.0,9920656.0,9691506.0,9885945.0,10178489.0,10532064.0,11010158.0,10654609.0
1,ANSONIA,42485212.0,43085986.0,45924355.0,48862080.0,50489528.0,52816370.0,63057989.0,57203675.0,57010349.0,60091435.0,60374860.0,65544136.0,63866446.0,63610501.0
2,ASHFORD,9451222.0,10136243.0,10480122.0,11048897.0,12110482.0,12888049.0,15206197.0,13579707.0,13627610.0,13992024.0,13933046.0,14635662.0,14457564.0,14704766.0
3,AVON,45048182.0,48985655.0,51606923.0,53705866.0,57587759.0,60098481.0,76896853.0,66917304.0,67761526.0,69814606.0,77584466.0,77657612.0,81014128.0,83241864.0
4,BARKHAMSTED,7893997.0,8340901.0,8524077.0,8702843.0,9053646.0,9682000.0,11040510.0,10467390.0,10307196.0,10396219.0,10524397.0,10874884.0,11429152.0,11590983.0

In [178]:

def a_pct_b(a,b):
    
    a = a.set_index("Municipality")
    b = b.set_index("Municipality")
    
    combined = a.join(b,how="outer",lsuffix="_a",rsuffix="_b")
    
    cols = []
    for c in range(2002,2016):
        cols.append(c)
        combined[c] = combined[str(c) + "_a"] / combined[str(c) + "_b"]
    
    
    return combined[cols].reset_index()

a_pct_b(edu,total_exp).to_csv("output/education_pct_of_expenditures.csv",index=False)

In [179]:
edu.to_csv("output/education_expenditures.csv",
           index=False)

# 4. Mill rate

In [180]:
# def get_mill_rates():
    
#     files = {
#         "2015":"MuniFiscalIndicators_11_15_CSV/ACMR 2015 GL Year.csv",
#         "2014":"MuniFiscalIndicators_11_15_CSV/ACMR 2014 GL Year.csv",
#         "2013":"MuniFiscalIndicators_11_15_CSV/ACMR 2013 GL Year.csv",
#         "2012":"MuniFiscalIndicators_11_15_CSV/ACMR 2012 GL Year.csv",
#         "2011":"MuniFiscalIndicators_11_15_CSV/ACMR 2011 GL Year.csv",
#         "2010":"MuniFiscalIndicators_11_15_CSV/ACMR 2010 GL Year.csv",
#         "2009":"MuniFiscalIndicators_11_15_CSV/ACMR 2009 GL Year.csv",
#         "2008":"FI2005-09V2000_CSV/ACMR 2008 GL YEAR.csv",
#         "2007":"FI2005-09V2000_CSV/ACMR 2007 GL YEAR.csv",
#         "2006":"FI2005-09V2000_CSV/ACMR 2006 GL YEAR.csv",
#         "2005":"FI2005-09V2000_CSV/ACMR 2005 GL YEAR.csv",
#         "2004":"FI2005-09V2000_CSV/ACMR 2004 GL YEAR.csv",
#         "2003":"FI2005-09V2000_CSV/ACMR 2003 GL YEAR.csv",
#         "2002":None
#     }
    
#     for f in files:
        
#         if files[f] == None:
#             continue

#         path = "../data/" + files[f]
            
#         print path
        
#         df = pd.read_csv(path)
        
#         # For testing the column names. 
#         # Unfortunately, they are not the same in each file,
#         # so I'm going to have to hard code the columns.
#         for c in df.columns:
#             print "\t" + f + "\t" + c
    
#         ycols = {
#             2003:""
#         }
# get_mill_rates()

In [181]:
get_fiscin_cols(col="ACMR").head()

year,Municipality,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,ANDOVER,30.3,29.90,31.9,31.30,34.50,41.30,26.30,27.60,27.60,27.60,27.60,30.80,30.77,30.72
1,ANSONIA,32.4,36.30,29.4,30.27,30.86,32.30,32.32,25.25,25.25,25.75,26.25,27.65,39.34,38.61
2,ASHFORD,33.0,34.50,29.0,31.00,31.60,33.00,33.70,24.65,24.65,25.43,25.60,31.05,31.65,32.16
3,AVON,25.9,27.30,28.3,23.46,24.16,24.85,25.55,26.53,23.41,24.44,25.04,25.65,26.32,28.32
4,BARKHAMSTED,27.5,29.65,32.2,26.10,26.10,26.70,26.70,26.70,22.03,22.39,22.67,23.39,24.26,27.37

In [182]:
get_fiscin_cols(col="ACMR").to_csv("output/mill_rates.csv",index=False)

# 5. Grant, tax and total revenue

In [183]:
get_fiscin_cols(col="Inter_Gov_Rev").head()

year,Municipality,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,ANDOVER,1920842.0,1955525.0,2141961.0,2378966.0,2542734.0,2438728.0,3810247.0,2720551.0,2378006.0,2431822.0,2835725.0,2930349.0,2979697.0,3019532.0
1,ANSONIA,19858777.0,18748382.0,20258357.0,22499276.0,23647537.0,24511137.0,32920804.0,26302924.0,26465983.0,27166329.0,26864426.0,29957368.0,28229568.0,27853347.0
2,ASHFORD,3846893.0,4081674.0,3826456.0,3834093.0,4316018.0,4629417.0,6761186.0,5027254.0,5101308.0,4903431.0,5120557.0,4953913.0,5109447.0,5028901.0
3,AVON,3079208.0,2920876.0,2801229.0,2950842.0,4246236.0,4265347.0,18352155.0,5662776.0,5477312.0,5710137.0,10519982.0,8450231.0,10344758.0,9442455.0
4,BARKHAMSTED,1771411.0,1707707.0,1657385.0,1632532.0,1752399.0,1718189.0,2988431.0,2144721.0,2045723.0,2040073.0,2118537.0,2215545.0,2207868.0,2206661.0

In [184]:
get_fiscin_cols(col="Tax_Rev").head()

year,Municipality,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,ANDOVER,4407310.0,4994097.0,5372678.0,5356471.0,6163729.0,7653190.0,7190202.0,7532534.0,7692664.0,7414142.0,7520427.0,7845981.0,7874644.0,7940342.0
1,ANSONIA,19023530.0,21604976.0,22819320.0,23455230.0,23737835.0,25391667.0,25899905.0,28644425.0,28819951.0,29439270.0,30079600.0,32175591.0,34270829.0,34134309.0
2,ASHFORD,5664243.0,6191297.0,6396039.0,7093551.0,7492707.0,8033841.0,8284714.0,8454058.0,8390817.0,8689053.0,8882703.0,9247248.0,9504537.0,9572093.0
3,AVON,41342284.0,44995486.0,48012671.0,49213013.0,52054364.0,54940024.0,57607095.0,60443984.0,61251149.0,64340735.0,66477970.0,68836758.0,71328459.0,72702548.0
4,BARKHAMSTED,5909996.0,6440327.0,7156805.0,7417262.0,7606018.0,7913331.0,8022185.0,8126597.0,8122029.0,8258860.0,8445529.0,8770258.0,9101908.0,9377549.0

In [185]:
get_fiscin_cols(col="Total_Revenue").to_csv("output/total_revenue.csv",index=False)
get_fiscin_cols(col="Total_Revenue").tail()

year,Municipality,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
165,WINDSOR LOCKS,31647101.0,32065180.0,33547234.0,34789951.0,39763876.0,40864305.0,50641155.0,44417601.0,43380426.0,45227861.0,47322569.0,47899212.0,50171300.0,49251423.0
166,WOLCOTT,38089866.0,40937384.0,42237694.0,42619790.0,46250600.0,47093848.0,59355244.0,51293437.0,49276901.0,49642270.0,51428413.0,53109249.0,54641282.0,56261679.0
167,WOODBRIDGE,30668764.0,32513418.0,33229327.0,34993302.0,37225600.0,38057145.0,40619443.0,41396144.0,41890647.0,43591945.0,44568176.0,46986688.0,46852591.0,47643390.0
168,WOODBURY,19575630.0,21114720.0,21646865.0,23514213.0,23983052.0,25582192.0,27707407.0,29226911.0,27415365.0,27823632.0,29490009.0,30446285.0,31067032.0,31352868.0
169,WOODSTOCK,15622200.0,15760625.0,16900258.0,17460887.0,19281704.0,19722683.0,20859765.0,21746008.0,21556594.0,21737715.0,22471650.0,22651597.0,22924854.0,23211644.0

In [186]:
a_pct_b(get_fiscin_cols(col="Inter_Gov_Rev"),
        get_fiscin_cols(col="Total_Revenue")).head()

year,Municipality,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,ANDOVER,0.291493,0.273381,0.275907,0.297231,0.285037,0.234492,0.338902,0.261485,0.234092,0.244637,0.271313,0.268155,0.272651,0.273476
1,ANSONIA,0.469745,0.439186,0.444652,0.462930,0.465956,0.456173,0.516865,0.452213,0.457959,0.456481,0.444021,0.456892,0.420333,0.418222
2,ASHFORD,0.384465,0.380661,0.356950,0.335280,0.346440,0.345713,0.430598,0.358650,0.363562,0.350867,0.355039,0.339119,0.340772,0.335085
3,AVON,0.066128,0.058130,0.052532,0.053632,0.071308,0.068393,0.230413,0.082740,0.080000,0.078077,0.132214,0.104642,0.121833,0.110743
4,BARKHAMSTED,0.224287,0.205169,0.184363,0.176183,0.181970,0.172646,0.263072,0.204766,0.198312,0.195556,0.198200,0.199187,0.193075,0.187303

In [187]:
# get_fiscin_cols(col="Inter_Gov_Rev")
# get_fiscin_cols(col="Tax_Rev")
# get_fiscin_cols(col="Total_Revenue")

# a_pct_b(get_fiscin_cols(col="Inter_Gov_Rev"),
#         get_fiscin_cols(col="Total_Revenue"))

a_pct_b(get_fiscin_cols(col="Tax_Rev"),
        get_fiscin_cols(col="Total_Revenue")).head()

year,Municipality,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,ANDOVER,0.668821,0.698171,0.692056,0.669244,0.690946,0.735882,0.639532,0.723988,0.757268,0.745851,0.719531,0.717982,0.720553,0.719148
1,ANSONIA,0.449988,0.506102,0.500863,0.482599,0.467735,0.472560,0.406635,0.492469,0.498691,0.494674,0.497162,0.490723,0.510286,0.512532
2,ASHFORD,0.566094,0.577406,0.596654,0.620309,0.601427,0.599947,0.527626,0.603121,0.598000,0.621749,0.615890,0.633018,0.633901,0.637806
3,AVON,0.887848,0.895477,0.900396,0.894455,0.874164,0.880937,0.723262,0.883160,0.894615,0.879760,0.835485,0.852425,0.840055,0.852669
4,BARKHAMSTED,0.748294,0.773760,0.796102,0.800472,0.789812,0.795144,0.706193,0.775882,0.787347,0.791672,0.790121,0.788484,0.795949,0.795975

In [188]:
a_pct_b(get_fiscin_cols(col="Inter_Gov_Rev"),
        get_fiscin_cols(col="Total_Revenue")).to_csv("output/pct_intergov_rev.csv",index=False)

In [189]:
a_pct_b(get_fiscin_cols(col="Tax_Rev"),
        get_fiscin_cols(col="Total_Revenue")).to_csv("output/pct_tax_rev.csv",index=False)

# 6. Unassigned fund balance as pct of expenditures

Prior to 2011, the report went from "undesignated" to "unassigned". I think these are the same but want to confirm. I also want to find out if the best way to represent fund balance comparatively is as a percentage of "Total Expenditures."

* William Plummer (860) 418-6367 is out of the office until Aug 14
* Left message for Bob Dakers, OPM 860-418-6422

In [213]:
get_fiscin_cols(col="Unassigned_Fund_Bal").head()

year Municipality       2011       2012       2013       2014        2015
0         ANDOVER  1533102.0  1943720.0  2266912.0  2415170.0   2663238.0
1         ANSONIA  6393685.0  6350791.0  7431490.0  9532434.0  13174667.0
2         ASHFORD  1340002.0  1700987.0  2022519.0  1910173.0   1625757.0
3            AVON  6084975.0  6610507.0  8035653.0  8687086.0   8003009.0
4     BARKHAMSTED  1240666.0  1454957.0  1550465.0  1434112.0   1394341.0

In [214]:
get_fiscin_cols(col="Unreserved_Fund_Bal").head()

year,Municipality,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,ANDOVER,1335518.0,1260736.0,1220778.0,348026.0,-284523.0,544494.0,1013848.0,1353436.0,1676718.0
1,ANSONIA,3106313.0,3153063.0,3246263.0,4058569.0,4681519.0,5554010.0,6223648.0,6470024.0,6621532.0
2,ASHFORD,971340.0,1367034.0,1567739.0,1885175.0,2084513.0,2599819.0,2228626.0,1608068.0,1767465.0
3,AVON,4153303.0,4245984.0,3941547.0,3657223.0,4159172.0,3760315.0,4676227.0,5253522.0,5100539.0
4,BARKHAMSTED,903020.0,878961.0,1271350.0,1654502.0,1874503.0,1646598.0,1481266.0,1482520.0,1415329.0

In [215]:
def a_moins_b(a, b):
    
    a = a.set_index("Municipality")
    b = b.set_index("Municipality")
    
    combined = a.join(b,how="outer",lsuffix="_a",rsuffix="_b")
    
    cols = []
    for c in range(2002,2016):

        try:
            combined[c] = combined[str(c) + "_a"] - combined[str(c) + "_b"]
            cols.append(c)
        except:
            continue
    
    return combined[cols].reset_index()

In [216]:
a_moins_b(a_moins_b(get_fiscin_cols(col="Total_Fund_Bal"),
                    get_fiscin_cols(col="Reserv_Fund_Bal")),
          get_fiscin_cols(col="Design_Fund_Bal")).head()

year,Municipality,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,ANDOVER,1335518.0,970736.0,425110.0,0.0,-284523.0,544494.0,1013848.0,1353436.0,1676718.0
1,ANSONIA,2981313.0,2710662.0,2746297.0,3917915.0,4508537.0,5081853.0,5725528.0,6048039.0,6311558.0
2,ASHFORD,971340.0,1094423.0,1295671.0,1485175.0,1767025.0,2599819.0,2228626.0,1486568.0,1617465.0
3,AVON,3378303.0,3845984.0,3016547.0,3557223.0,3984172.0,3515315.0,4488669.0,4789580.0,4652097.0
4,BARKHAMSTED,773020.0,828961.0,1271350.0,1404502.0,1374503.0,1146598.0,1481266.0,1199277.0,1315329.0

In [217]:
# This is the nominal unassigned or undesignated fund balance for each town

a_moins_b(a_moins_b(get_fiscin_cols(col="Total_Fund_Bal"),
                    get_fiscin_cols(col="Reserv_Fund_Bal")),
          get_fiscin_cols(col="Design_Fund_Bal")).set_index("Municipality").join(
    get_fiscin_cols(col="Unassigned_Fund_Bal").set_index("Municipality"),
    how="left"
).head()

year,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Municipality,,,,,,,,,,,,,,
ANDOVER,1335518.0,970736.0,425110.0,0.0,-284523.0,544494.0,1013848.0,1353436.0,1676718.0,1533102.0,1943720.0,2266912.0,2415170.0,2663238.0
ANSONIA,2981313.0,2710662.0,2746297.0,3917915.0,4508537.0,5081853.0,5725528.0,6048039.0,6311558.0,6393685.0,6350791.0,7431490.0,9532434.0,13174667.0
ASHFORD,971340.0,1094423.0,1295671.0,1485175.0,1767025.0,2599819.0,2228626.0,1486568.0,1617465.0,1340002.0,1700987.0,2022519.0,1910173.0,1625757.0
AVON,3378303.0,3845984.0,3016547.0,3557223.0,3984172.0,3515315.0,4488669.0,4789580.0,4652097.0,6084975.0,6610507.0,8035653.0,8687086.0,8003009.0
BARKHAMSTED,773020.0,828961.0,1271350.0,1404502.0,1374503.0,1146598.0,1481266.0,1199277.0,1315329.0,1240666.0,1454957.0,1550465.0,1434112.0,1394341.0

In [218]:
# Now, let's make the a percent of the total expenditures

a_pct_b(a_moins_b(a_moins_b(get_fiscin_cols(col="Total_Fund_Bal"),
                    get_fiscin_cols(col="Reserv_Fund_Bal")),
          get_fiscin_cols(col="Design_Fund_Bal")).set_index("Municipality").join(
    get_fiscin_cols(col="Unassigned_Fund_Bal").set_index("Municipality"),
    how="left"
).reset_index(),get_fiscin_cols(col="Total_Expenditures"))

year,Municipality,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,ANDOVER,0.207111,0.135635,0.056408,0.000000,-0.031143,0.058599,0.094387,0.136426,0.173009,0.155079,0.190964,0.215239,0.219358,0.249961
1,ANSONIA,0.070173,0.062913,0.059800,0.080183,0.089296,0.096217,0.090798,0.105728,0.110709,0.106399,0.105189,0.113381,0.149256,0.207115
2,ASHFORD,0.102774,0.107971,0.123631,0.134418,0.145909,0.201723,0.146560,0.109470,0.118690,0.095769,0.122083,0.138191,0.132123,0.110560
3,AVON,0.074993,0.078512,0.058452,0.066235,0.069184,0.058493,0.058373,0.071575,0.068654,0.087159,0.085204,0.103475,0.107229,0.096142
4,BARKHAMSTED,0.097925,0.099385,0.149148,0.161384,0.151818,0.118426,0.134166,0.114573,0.127613,0.119338,0.138246,0.142573,0.125478,0.120295
5,BEACON FALLS,0.073981,0.143873,0.110712,0.122405,0.067716,0.074963,0.083292,0.071500,0.048507,0.045805,0.046213,0.110440,0.158822,0.112927
6,BERLIN,0.089367,0.087674,0.087317,0.103886,0.114557,0.126533,0.099306,0.106941,0.111345,0.122967,0.127324,0.142755,0.123745,0.124276
7,BETHANY,0.119229,0.127839,0.129399,0.137049,0.157359,0.159814,0.134490,0.124844,0.127030,0.127026,0.141358,0.143587,0.146584,0.112492
8,BETHEL,0.098942,0.108847,0.105095,0.111887,0.095110,0.093662,0.087108,0.099901,0.105227,0.109793,0.139592,0.159353,0.191032,0.213710
9,BETHLEHEM,0.047044,0.053244,0.024306,0.025108,0.009793,0.037831,0.034226,0.075404,0.094331,0.103994,0.117355,0.153080,0.162991,0.145873
10,BLOOMFIELD,0.114202,0.010188,0.046774,0.060204,0.064014,0.078543,0.097960,0.112894,0.127305,0.147983,0.138035,0.185555,0.194178,0.180250
11,BOLTON,0.032407,0.025541,0.055434,0.014735,0.018318,0.032606,0.026209,0.023894,0.019814,0.031541,0.046341,0.051027,0.049897,0.053876
12,BOZRAH,0.013422,-0.008579,-0.022168,0.005392,0.053654,0.141731,0.100235,0.057333,0.052569,0.025371,0.052187,0.035037,0.050956,0.037561
13,BRANFORD,0.134350,0.153452,0.141987,0.154413,0.161548,0.200332,0.140111,0.169580,0.164274,0.164317,0.168074,0.176883,0.192444,0.213454
14,BRIDGEPORT,0.093931,0.087517,0.076226,0.066537,0.053642,0.063363,0.021913,0.022116,0.024816,0.021975,0.017280,0.023295,0.023744,0.024200
15,BRIDGEWATER,0.299791,0.175024,0.195137,0.177225,0.184155,0.175120,0.175333,0.176211,0.134172,0.127343,0.130626,0.121580,0.140727,0.168131
16,BRISTOL,0.141872,0.120249,0.132371,0.138161,0.129952,0.126199,0.088477,0.116777,0.135652,0.143689,0.153259,0.158249,0.164246,0.138787
17,BROOKFIELD,0.095514,0.098996,0.086239,0.082954,0.079808,0.082530,0.034165,0.034754,0.081653,0.075741,0.086419,0.060308,0.069374,0.058305
18,BROOKLYN,0.071655,0.064779,0.066100,0.022103,0.045493,0.039130,0.046371,0.068442,0.071058,0.073348,0.081602,0.105447,0.113578,0.073542
19,BURLINGTON,0.099415,0.109885,0.129652,0.112193,0.090675,0.091399,0.108848,0.105173,0.116894,0.114730,0.131693,0.159044,0.141191,0.143612
20,CANAAN,0.245597,0.203046,0.156756,0.115003,0.121254,0.151839,0.169669,0.195283,0.182984,0.176845,0.145978,0.129628,0.091259,0.126125
21,CANTERBURY,0.153679,0.136363,0.152787,0.127692,0.109790,0.137816,0.119062,0.150770,0.148159,0.155048,0.101812,0.124776,0.135031,0.106504
22,CANTON,0.060663,0.062405,0.059518,0.076379,0.094223,0.118361,0.110211,0.144682,0.134196,0.101340,0.139735,0.142833,0.151475,0.148858
23,CHAPLIN,0.044695,0.041074,0.066893,0.107573,0.096679,0.094697,0.088992,0.078572,0.077881,0.091438,0.071062,0.146694,0.121345,0.081233
24,CHESHIRE,0.056416,0.059848,0.059646,0.062833,0.077323,0.094114,0.092661,0.087996,0.087461,0.080130,0.085154,0.088416,0.083886,0.082433
25,CHESTER,0.146006,0.141404,0.117204,0.102450,0.123857,0.136942,0.135818,0.115217,0.115467,0.114884,0.109132,0.153069,0.163112,0.138957
26,CLINTON,0.204727,0.175046,0.161633,0.136528,0.125753,0.123936,0.120895,0.115973,0.137842,0.159720,0.149020,0.147330,0.141818,0.129753
27,COLCHESTER,0.076573,0.097039,0.086785,0.085518,0.096436,0.087053,0.080782,0.069378,0.061149,0.070167,0.081286,0.089011,0.086024,0.092925
28,COLEBROOK,0.205351,0.214079,0.279576,0.289794,0.330919,0.293413,0.202716,0.210836,0.214911,0.179551,0.170448,0.219737,0.248775,0.252153
29,COLUMBIA,0.187679,0.123673,0.093990,0.129551,0.190099,0.061576,0.051274,0.060684,0.126365,0.203655,0.240980,0.177600,0.182236,0.212641
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,THOMASTON,0.067102,0.093437,0.074213,0.085431,0.109640,0.067724,0.065753,0.064385,0.078488,0.085093,0.101298,0.120215,0.125162,0.130247
141,THOMPSON,0.155756,0.157951,0.145279,0.136296,0.135816,0.131574,0.092753,0.097857,0.078530,0.074540,0.076562,0.087163,0.096520,0.078599
142,TOLLAND,0.077545,0.083882,0.091331,0.093123,0.097325,0.100465,0.088224,0.109842,0.121340,0.121769,0.118778,0.118376,0.124417,0.119238
143,TORRINGTON,0.055806,0.035203,0.033859,0.050359,0.064406,0.090025,0.060586,0.051043,0.023158,0.027393,0.037501,0.044675,0.050417,0.066150
144,TRUMBULL,0.048962,0.053380,0.058040,0.065429,0.063602,0.113007,0.104778,0.095060,0.105592,0.111043,0.111438,0.107347,0.091212,0.097485
145,UNION,0.188575,0.106404,0.156418,0.134399,0.170249,0.092961,0.142413,0.165850,0.137996,0.107460,0.132167,0.089634,0.080482,0.081449
146,VERNON,0.088277,0.081072,0.094584,0.101348,0.109009,0.110215,0.086016,0.104028,0.106812,0.108326,0.107623,0.117776,0.127328,0.136348
147,VOLUNTOWN,0.107262,0.137681,0.199105,0.110676,0.102762,0.138613,0.097505,0.119081,0.148889,0.198772,0.200409,0.179516,0.180342,0.104796
148,WALLINGFORD,0.119539,0.124189,0.115941,0.111806,0.098627,0.100239,0.073650,0.083336,0.095334,0.105024,0.111623,0.122170,0.121788,0.127027
149,WARREN,0.267181,0.316290,0.343241,0.299793,0.333186,0.355274,0.406505,0.443658,0.593125,0.467842,0.237350,0.303403,0.335088,0.357015
150,WASHINGTON,0.202685,0.184042,0.255020,0.138003,0.142899,0.135488,0.132081,0.124258,0.154699,0.191583,0.192039,0.172718,0.193306,0.177303
151,WATERBURY,0.020787,0.034780,0.036567,0.038955,0.054242,0.050204,0.043481,0.049146,0.027376,0.054048,0.055019,0.054806,0.053890,0.053979
152,WATERFORD,0.331202,0.344978,0.304980,0.256189,0.198805,0.172323,0.251745,0.147885,0.147648,0.005652,0.011477,0.027645,0.023491,0.115863
153,WATERTOWN,0.066831,0.064293,0.057550,0.058251,0.081452,0.079949,0.071797,0.087732,0.087816,0.090167,0.086645,0.080532,0.099065,0.101939
154,WEST HARTFORD,0.074718,0.069736,0.067838,0.074390,0.075424,0.077138,0.065312,0.074069,0.078363,0.083308,0.074082,0.079042,0.079489,0.081651
155,WEST HAVEN,0.062321,0.041255,0.061419,-0.037097,-0.103310,-0.075015,-0.033212,-0.041987,-0.094074,-0.076656,-0.094740,-0.087065,-0.063885,-0.099665
156,WESTBROOK,0.119700,0.092237,0.065696,0.063547,0.077563,0.102558,0.098011,0.119016,0.097551,0.115260,0.149179,0.136077,0.108901,0.151098
157,WESTON,0.097643,0.090404,0.110586,0.149630,0.146572,0.157084,0.140333,0.117580,0.116098,0.119717,0.129708,0.135811,0.153959,0.162675
158,WESTPORT,0.109051,0.085798,0.087935,0.094644,0.080764,0.091760,0.097124,0.090439,0.109098,0.112967,0.103348,0.131033,0.125012,0.115760
159,WETHERSFIELD,0.068392,0.065287,0.074370,0.082206,0.089521,0.097951,0.079260,0.087314,0.085855,0.082841,0.101246,0.102116,0.108615,0.110976
160,WILLINGTON,0.081474,0.064823,0.108620,0.079714,0.095872,0.085349,0.072964,0.094631,0.105820,0.092634,0.118080,0.121804,0.120241,0.095366
161,WILTON,0.021059,0.033090,0.056743,0.097365,0.142785,0.143055,0.131157,0.116470,0.109869,0.132945,0.137921,0.121044,0.142189,0.120993
162,WINCHESTER,0.066839,0.018308,0.002033,0.020202,0.035228,0.037028,0.022094,0.026689,0.023012,0.003541,-0.044032,-0.039345,0.110368,0.162483
163,WINDHAM,0.152955,0.099682,0.126242,0.099734,0.098967,0.101320,0.070508,0.089338,0.119328,0.135113,0.123768,0.141803,0.151923,0.157344
164,WINDSOR,0.102921,0.096191,0.103774,0.117375,0.126959,0.148323,0.149944,0.148999,0.158112,0.157206,0.156426,0.169606,0.168077,0.181084
165,WINDSOR LOCKS,0.174539,0.168021,0.132099,0.180889,0.211043,0.197211,0.172998,0.179192,0.189520,0.206780,0.204215,0.223282,0.247421,0.224983
166,WOLCOTT,0.021213,0.037327,0.039251,0.037503,0.036487,0.036277,0.024213,0.029066,0.038086,0.046911,0.048223,0.054455,0.062661,0.066766
167,WOODBRIDGE,0.092586,0.108673,0.127240,0.126139,0.131675,0.124094,0.116653,0.115825,0.101396,0.112975,0.114856,0.106783,0.099110,0.099849
168,WOODBURY,0.087077,0.086287,0.089276,0.096830,0.102771,0.086846,0.086644,0.075565,0.068499,0.087922,0.088788,0.101332,0.098831,0.109289
169,WOODSTOCK,0.137331,0.133873,0.096156,0.084294,0.091169,0.088155,0.076579,0.082544,0.075057,0.088743,0.095668,0.119938,0.124370,0.131601

# 10. Tax collection rate

In [219]:
get_fiscin_cols(col="Overal_Total_Tax_Collection_Rate").to_csv("output/tax_collection_rate.csv",index=False)
get_fiscin_cols(col="Overal_Total_Tax_Collection_Rate").head()

year,Municipality,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,ANDOVER,0.954594,0.972351,0.977683,0.974046,0.971810,0.983748,0.981958,0.980309,0.992351,0.988826,0.984499,0.982969,0.981341,0.984702
1,ANSONIA,0.894987,0.894809,0.923525,0.932529,0.928657,0.929712,0.918719,0.921235,0.918423,0.912944,0.914689,0.912908,0.909393,0.935313
2,ASHFORD,0.952674,0.957092,0.955919,0.964741,0.960482,0.962171,0.953210,0.951860,0.946127,0.937319,0.937655,0.934940,0.937916,0.931388
3,AVON,0.993130,0.994822,0.998146,0.998410,0.997957,0.997279,0.999160,0.997890,0.997854,0.996942,0.996531,0.997206,0.996585,0.995131
4,BARKHAMSTED,0.957149,0.960132,0.961612,0.959636,0.963898,0.963610,0.956879,0.949137,0.948605,0.945761,0.937849,0.931706,0.929099,0.925941